*{
    margin: 0;
}

body{
    margin: 10px 30px 0 30px;


}
html,body{
  width: 21.0cm;
  height: 29.7cm;
  margin-left: 15%;
  font-family: 'Raleway', sans-serif;
}

.head{
    margin-top: 20px;
    margin-left: 5px;
    font-size: 40px;
    font-weight: 800;
    border-bottom: 2px solid black;

}
.head>p1{
    font-weight: 300;
    margin-left: 10px;
}

.left {
      margin-left: 40vh;
  }
.righthighlight {
      margin-left: -80px;
      width: 20px;
  }
span{
  font-weight: 200;
}
.right{
  margin-left: 24vh;
  }
.rightlist{
  margin-left: 40vh;

}
ul{
  width: 250px;
}
.long{
  width: 510px;
  margin-left: -20px;
}