*{
    margin: 0;
    padding: 0;
}

body{
    margin: 10px 30px 0 30px;
}

.head{
    margin-top: 20px;
    margin-left: 5px;
    font-size: 40px;
    font-weight: 800;
    border-bottom: 2px solid black;

}
.head>p1{
    font-weight: 300;
    margin-left: 10px;
}
/* @media print {  
    @page {
      size: 210mm 297mm; 
      margin: 0;
      margin-right: 0;
    }
  }
@page {
    size: A4;
    margin: 0;
  }
@media print {
    html, body {
      width: 210mm;
      height: 297mm;
    }
   
  } */
  .left ul{
      margin-left: 70vh;
  }
  .right ul{
      margin-left: 10vh;
  }